.calendar-table {
    border-radius: 5px;
    table-layout: fixed;
}

.calendar-table > thead > tr > th{
    border:thin solid #1d9d61;
}

.calendar-table > tbody > tr > td{
    border:thin solid #1d9d61;
    border-bottom: thin solid lightgray;
    padding:0 !important;
}

.calendar-table > tbody > tr:last-child > td{
    border:thin solid #1d9d61;
    border-top: 0;
}

.prevWeek{
    text-align: right;
    margin-top: 20%;
}

.nextWeek{
    text-align: left;
    margin-top: 20%;
}

.day-heading{
    font-size: 0.8em;
    text-align: center;
}

.day-heading p{
    padding-top: 0;
    padding-bottom: 0;
}

.weekday{
    font-weight: normal;
    color:grey;
}

.calendar-timeslot{
    padding-top:0 !important;
}

.calendar-timeslot p{
    font-size: 0.7em;
    color: darkgrey;
    padding-bottom: 2em;
    padding-left:0.3em;
    padding-top:0.2em;
}

.maint-timeslot {
    background-color: #c5f4d6;
    border-left: thin solid black;
    border-right: thin solid black;
}

.first-maint{
    border-top: thin solid black !important;
}

.last-maint{
    border-bottom: thin solid black !important;
}

.clicked-maint{
    background-color: #21b36e;
}

.clicked-maint-p{
    color: black !important;
}

.calendar-add-btn button
{
    font-size: 0.7em;
}

.calendar-done-btn button{
    margin-left: 2.5em;
    font-size: 0.5em;
}

.active{
    color: black !important;
    background-color: #c5f4d6 !important;
}

/* FORM CREATE MAINT */

.form-error{
    font-size: 0.8em;
}

.form-error-heading{
    color:darkred;
}

.form-ok{
    margin: 2em;
    color: darkgreen;
    font-weight: bold;
    text-align: center;
}

/*MEDIA QUERY*/
@media screen and (min-width:992px) and (max-width:1199px){
    .day-heading{
        font-size: 0.7em;
        text-align: center;
    }

    .calendar-timeslot p{
        font-size: 0.5em;
        color: darkgrey;
        padding-bottom: 2em;
        padding-left:0.3em;
        padding-top:0.2em;
    }

    .calendar-done-btn button{
        margin-left: 1.5em;
        font-size: 0.5em;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .day-heading{
        font-size: 0.6em;
        text-align: center;
    }

    .calendar-add-btn{
        padding-left:0;
    }

    .calendar-timeslot p{
        font-size: 0.4em;
        color: darkgrey;
        padding-bottom: 2em;
        padding-left:0.3em;
        padding-top:0.2em;
    }

    .calendar-done-btn button{
        margin-left: 1em;
        font-size: 0.5em;
    }
}

@media screen and (min-width:668px) and (max-width:768px) {
    .day-heading{
        font-size: 0.7em;
        text-align: center;
    }

    .day-heading p{
        padding-right: 0;
        padding-left: 0;
    }

    .calendar-add-btn button{
        font-size: 0.6em;
    }

    .calendar-timeslot p{
        font-size: 0.4em;
        color: darkgrey;
        padding-bottom: 2em;
        padding-left:0.3em;
        padding-top:0.2em;
    }

    .calendar-done-btn button{
        margin-left: 0em;
        font-size: 0.5em;
    }
}

@media screen and (max-width:668px)  and (min-width:550px){
    .day-heading{
        font-size: 0.6em;
        text-align: center;
    }

    .calendar-add-btn,
    calendar-done-btn{
        padding-left:0;
    }

    .calendar-add-btn button{
        font-size: 0.3em;
    }

    .calendar-timeslot p{
        font-size: 0.4em;
        color: darkgrey;
        padding-bottom: 2em;
        padding-left:0.3em;
        padding-top:0.2em;
    }

    .calendar-done-btn button{
        margin-left: 0.5em;
        font-size: 0.5em;
    }
}

@media screen and (max-width: 550px){
    .calendar-done-btn button{
        margin-left: 0em;
        font-size: 0.5em;
    }
}
