/*ASIA*/
/*GENERIC*/
.center{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.green-border{
    border: thin solid #1d9d61;
}

.red-state{
    color:red;
}

.green-state{
    color:limegreen;
}

/*GARDEN*/

.garden-info-components{
    font-size: small;

}

.garden-info hr{
    border-color:#1d9d61;
    background-color:#1d9d61;
}

.garden-info-back{
    margin-top: 10px;
}

.card-title{
    margin-bottom: 0;
    font-weight: bolder;
    font-size: 25px;
}

/*SENSORS*/
.table {
    margin-bottom: 0;
    border-bottom: 0;
    border-radius: 5px;
}

.table > tbody > tr > td,
.table> tbody > tr > th {
    border:thin solid #1d9d61;
    border-radius: 10px;
    border-top:none;
    border-right:none;
    margin-left: 1%;
    margin-right: 1%;
}

.my-custom-scrollbar {
    border:thin solid #1d9d61;
    border-left:none;
    height: 160px;
    overflow: auto;
    display: block;
    margin-left: 1%;
    margin-right: 1%;
}

/*METEO*/
.weather-card{
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 5px;
    background-color: #0a5a35;
}

.weather-cell{
    border-left:thin solid #1d9d61;
}

.weather-cell img {
    width:70%;
}

.today-weather-icon{
    padding: 0;
}

.today-weather-info{
    padding:0;
    padding-left:2px;
    padding-top: 22px;
}

.today-weather-icon img {
    padding:0;
}

.today-weather-info p{
    margin: 8px;
    font-weight: bold;
}

/*BTN*/

.open-calendar-btn button{
    background:#1d9d61;
    font-size:large;
}

.open-calendar-btn button:hover{
    background:#0f8850;
}
